<% layout('/layout') %>
<% block('title', 'Magic 8-Ball') %>

	<h1>Click the button to shake the 8-ball</h1>
	<div class="<%= tone %>"> <%= message  %> </div>
	<button id="shake">Shake the Ball</button>

	<script type="text/javascript">
		var button = document.getElementById('shake');
		button.addEventListener('click', function(){
			window.location.reload();
		})
	</script>
