<% layout('../layout') %>

<% if(question) { %>
	<h1>Hi, <%= name %>! Your question is: <%= question %></h1>
<% } else { %>

<h1>Ask me a yes/no question!</h1>

<form class="question" action="/magic/question" method="post">
	<% if(name) { %>
	<input type="text" name="username" value="<%= name %>" placeholder="Enter your name here"><br>
	<% } else { %>
		<input type="text" name="username"  placeholder="What is your name?">
		<br> <% } %>
	<input type="text" name="question" placeholder="Type your question here"><br>
	<button type="submit">Ask me a question</button>
</form>
<% } %>

