<% layout('../layout') %>

<% if(question) { %>
	<h1>Hi, <%= name %>! Your question is: <%= question %></h1>
<% } else { %>

<h1>Ask me a yes/no question!</h1>

<form class="question" action="/magic/question" method="post">
	<input type="text" name="username" placeholder="Enter your name here"><br>
	<input type="text" name="question" placeholder="Type your question here"><br>
	<button type="submit">Ask me a question</button>
</form>
<% } %>

